@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito-VariableFont_wght.ttf");
}

body {
    font-family: "Nunito"
}

#carre {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15vw;
}