.error-main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.error-main button {
    color: white;
    font-family: "Nunito";
    background-color: #C31C4A;
    border-style: none;
    font-size: 30px;
    width: 260px;
    border-radius: 15px;
    height: 45px;
}