.home-main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    transition: 200ms;
}

.home-main h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 3vh;
}

.date-picker {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.calendar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.clock {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 350px;
    display: flex;
    justify-content: center;
}


.buttonSnap {
    background-color: #0B2839;
    color: #FFFFFF;
    border-radius: 15px;
    border-style: none;
    height: 60px;
    font-size: 28px;
    padding: 8px 15px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transform: scale(1);
    transition: all 200ms ease-in-out;
    animation: flip 200ms 1 ease-in-out;
}

@keyframes flip {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}


.buttonSnap:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #0f4461;
}

.buttonSnap:focus {
    cursor: wait;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#snapshotFound {
    text-align: center;
    padding-top: 5%;
}

#no-snapshot {
    width: 60vw;
    color: red;
    animation: wizz 200ms 1;
}

@keyframes wizz {
    0% {
        transform: rotateZ(4deg);
    }

    25% {
        transform: rotateZ(-3deg);
    }

    50% {
        transform: rotateZ(2deg);
    }

    75% {
        transform: rotateZ(-1deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
}

.advance-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.basic-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.buttons-basique {
    display: flex;
    flex-direction: column;
}

.switch {
    position: absolute;
    display: flex;
    top: 80px;
    right: 25px;
    flex-direction: column;
    align-items: center;
}

.switch h3 {
    margin: 0px;
}

@media (max-width:1000px) {
    .home-main h1 {
        margin-top: 10%;
    }
}