.log-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 80vh;
}

.log-title {
    margin-top: 75px;
    font-size: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.log-title p {
    font-size: 20px;
    text-align: center;
}

.log-title h2 {
    margin-bottom: 0;
}