.save-main {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#retour {
    position: absolute;
    left: -12px;
    top: 100px;
    color: white;
    font-family: "Nunito";
    background-color: #C31C4A;
    border-style: none;
    font-size: 30px;
    padding-left: 18px;
    border-radius: 15px;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#retour:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#retour:focus {
    cursor: wait;
}

.system-file-window {
    position: absolute;
    border-style: solid;
    background-color: white;
    top: 170px;
    bottom: 70px;
    right: 70px;
    left: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}