.forme-main {
    display: flex;
    width: 10vw;
    height: 48vh;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    bottom: 45px;
    left: 45px;
    min-width: 100px;
}

.forme-column1 {
    display: flex;
    padding-bottom: 15vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forme-column2 {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 9vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forme-column3 {
    display: flex;
    padding-top: 25vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#fc11 {
    width: 2.5vw;
    min-width: 21px;
    height: 13vh;
    min-height: 75px;
    background: #0B2839;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc11:hover {
    height: 15vh;
}

#fc12 {
    width: 2.5vw;
    min-width: 21px;
    height: 10vh;
    /*72*/
    min-height: 40px;
    background: #52B8B3;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc12:hover {
    height: 12vh;
}

#fc13 {
    width: 2.5vw;
    min-width: 21px;
    height: 6vh;
    /*72*/
    min-height: 34.5px;
    background: #67B566;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc13:hover {
    height: 8vh;
}

#fc21 {
    width: 2.5vw;
    min-width: 21px;
    height: 6vh;
    min-height: 34.5px;
    background: #722662;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc21:hover {
    height: 8vh;
}

#fc22 {
    width: 2.5vw;
    min-width: 21px;
    height: 9vh;
    min-height: 51.75px;
    background: #177988;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc22:hover {
    height: 11vh;
}


#fc23 {
    width: 2.5vw;
    min-width: 21px;
    height: 15vh;
    min-height: 86px;
    background: #0B2839;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc23:hover {
    height: 17vh;
}


#fc31 {
    width: 2.5vw;
    min-width: 21px;
    height: 6vh;
    min-height: 34.5px;
    background: #F1AF42;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc31:hover {
    height: 8vh;
}


#fc32 {
    width: 2.5vw;
    min-width: 21px;
    height: 14vh;
    min-height: 80.5px;
    background: #E05E3C;
    border-radius: 43px;

    transition: height 200ms ease-in-out;
}

#fc32:hover {
    height: 16vh;
}