.nav-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #0B2839;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#logo {
    width: 68px;
    height: 60px;
    margin-left: 15px;
}

#logout {
    color: white;
    font-family: "Nunito";
    background-color: #C31C4A;
    border-style: none;
    font-size: 30px;
    width: 260px;
    border-radius: 15px;
    height: 45px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transform: scale(1);
    transition: all 200ms ease-in-out;
}

#logout:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #d82155;
}

#logout:focus {
    cursor: wait;
}