.connection-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 45vh;
    justify-content: space-around;
}

.connection-form form label {
    font-size: 3vw
}

#username,
#password {
    border-color: black;
    border-width: 1px;
    font-family: "Nunito";
    width: 30vw;
    height: 5vh;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#submit {
    background-color: #47a347;
    font-weight: bold;
    border-style: none;
    color: white;
    font-family: "Nunito";
    font-size: 2.3vw;
    height: auto;
    width: auto;
    margin-top: 2vh;
    padding: 2vh 3vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transform: scale(1);
    transition: all 200ms ease-in-out;
}

#submit:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: hsl(120, 44%, 51%);
}

#submit:focus {
    cursor: wait;
}

.message-error {
    color: red;
}